
</head>
<body>

<div class="container">
    <h1>Names:</h1>
    <ul id="nameList" class="">
    </ul>
    <h2>Submit a name</h2>
    <div class="actions_container">
        <input type="text" id="newName">
        <button id="submitName" onclick="submitName()">Submit</button>
    </div>
</div>
<!--NOTE: Declare script here.
    Entire HTML page should be allowed to load
    before executing javascript.-->
<script src="/pr10-client.js"></script>
</body>
</html>